html, body {
    height: 100%;
    font-family: 'Source Sans Pro regular', sans-serif !important;
}

body {
    display: flex;
    flex-flow: column;
}

nav {
    flex: 0 1 auto;
    margin-top: 6em;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    line-height: 1.5em;
}

nav a {
    color: gray;
    margin-left: 1.5em;
}

#home-image img {
    display: block;
    margin: 0 auto;
    max-height: 500px;
    max-width: 90%;
}

#menu a:hover {
    border-bottom: 2px #4a4a4a solid;
}

.active {
    color: #4a4a4a;
    border-bottom: 2px #4a4a4a solid;
}

main {
    flex: 1;
}

#content {
    max-width: 70%;
    margin: 3em auto;
}

.bio {
    max-width: 80%;
}

.subtitle {
    font-size: 1.15rem !important;
}

.work-listing:hover {
    text-decoration: underline;
}

.img-container {
    margin-bottom: 10em;
}

.img-container img {
    max-height: 90vh;
    width: auto;
}

.img-container:last-of-type {
    margin-bottom: 1em;
}

.img-horizontal {
    display: flex;
    gap: 4em;
}

.img-horizontal img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.shadow {
    box-shadow: 6px 10px 7px #bbb;
}

.work-label {
    font-weight: 400;
}

#exhibitions {
    list-style: square;
    line-height: 2em;
}

#contact-form {
    margin: 0 auto;
    width: 50%;
}

#contact-form input, #contact-form .textarea {
    border-style: none;
    border-bottom: 2px solid grey;
    border-radius: 0;
    box-shadow: none;
}

#contact-form input:focus, #contact-form .textarea:focus {
    border-bottom: 2px solid #4a4a4a;
    border-left: 2px solid #4a4a4a;
    color: #4a4a4a;
}

#contact-form label {
    color: #4a4a4a;
    font-weight: 400;
}

#contact-form button {
    background-color: white;
    color: grey;
    border: 2px solid grey;
    margin: 0 auto;
    display: block;
}

#contact-form button:hover {
    color: #4a4a4a;
    border: 2px solid #4a4a4a;
}

#contact-form .button.is-link.is-focused:not(:active), .button.is-link:focus:not(:active) {
    /* box-shadow: unset !important; */
    box-shadow: 0 0 .2em .125em rgba(0,0,0,.25) !important;
}

.hidden {
    display: none;
}


#social {
    margin-top: 2em;
}

#social-icons {
    max-height: 5em;
    display: flex;
    justify-content: center;
}

#social-icons img {
    height: 1.5em;
    margin: 1em;
}

#promo {
    text-align: right;
}

@media only screen and (max-width: 600px) {
  #content {
      max-width: 90%;
  }

  nav {
      margin-left:0;
      margin-right:0;
  }

  #home-image img {
      margin-top: 2em;
  }

  .img-container:first-of-type {
      margin-bottome 1em !important;
  }

  .img-container {
      margin-bottom: 1em !important;
  }

  #menu {
      margin-right:.5em;
  }

  #contact-form {
      width: 100%;
  }
}
