{{ $currentPage := . }}
<nav>
    <a id="brand" href="/"> {{ .Site.Params.sitename }}</a>

    <span id="menu">
        {{ range .Site.Menus.main }}
        <a class="{{ if (eq $currentPage.RelPermalink .URL) }}active{{ end }}"
           href="{{ .URL }}"> {{ .Name }} </a>
        {{ end }}
</nav>
