+++
slug = "bio"
title = "bio"
draft = "false"
+++
<div id=bio>
    <p class="bio"> Olga Vlassi (b. 1991) is an Athens based artist. She has studied sculpture and painting at the
        Athens
        School of Fine Arts (ASFA, 2021), including an Erasmus scholarship (2019) at École National supérieure des
        Beaux-Arts de Paris. She holds a degree in Archaeology & History of Art (2015, National Kapodistrian University,
        Athens). </p>
    <br />
    <p class="bio">She is interested in the intersection of space, memory and the performative body and the discourses
        built on them. She experiments with materials such as clay plaster, glass, marble and concrete. Her studies in
        Archaeology with a focus on Prehistory are a prominent influence on her, critically bringing forward the
        processes of excavating, archiving and research in the form and content of the work.
    </p>
    <br />
    <p class="bio">
        She has been awarded the <a href="https://www.art-works.gr/fellows/olga-vlassi/">Stavros Niarchos Foundation
        Artist
        Fellowship by ARTWORKS (2021)</a>.
    </p>
    <br />
    <p class="bio"> Also, she has been a scholarship holder of the STERNA ART PROJECT organization
        (June 2023, Nisyros). She has participated in group exhibitions, while in June
        2024 she held her first solo exhibition in Athens, entitled «Skin».
        <a href="https://sterna.com.gr/project/sterna-fellowship-2023-crater/">STERNA FELLOWSHIP 2023 - CRATER -
            sterna</a>
    </p>
    <br/>
    <p class="bio">
        She was a scholarship holder in the artistic
        residency and research program
        on Contemporary Ceramics (organized by the French Institute of Greece and supported by: the Ministry of Culture,
        the
        South Aegean Region, the School of Fine Arts and the Consulate of France in Rhodes) at the Auberge de France in
        Rhodes
        (23/9-15/11/2024) where she presented her works in the program's exhibition entitled "TAKIMI".
        <a href="https://www.ifg.gr/fr/news/auberge-france-rhodes-laureates-2024/">Résidence artistique à l’Auberge de
            France à
            Rhodes 2024 : 2 nouvelles lauréates</a>
    </p>

</div>
