+++
slug = "contact"
title = "contact"
draft = "false"
+++
<div class="email">
    <form id="contact-form" method="POST" data-netlify="true" name="contact-form">
        <div class="field">
            <label class="label">name</label>
            <div class="control">
                <input class="input" type="text" name="name">
            </div>
        </div>

        <div class="field">
            <label class="label">email</label>
            <div class="control">
                <input class="input" type="email" name="email">
            </div>
        </div>

        <div class="field">
            <label class="label">subject</label>
            <div class="control">
                <input class="input" type="text" name="subject">
            </div>
        </div>

        <div class="field">
            <label class="label">message</label>
            <div class="control">
                <textarea class="textarea" name="message"></textarea>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-link">Submit</button>
            </div>
        </div>
    </form>    
</div>



<div id="social">
    <div id="social-icons">
        <a href="https://www.facebook.com/profile.php?id=100001408762541">
            <img alt="" src="/img/fb.svg"/>
        </a>
        <a href="https://www.instagram.com/olga_vlass/">
            <img alt="" src="/img/instagram.svg"/>
        </a>
    </div>
</div>

<div id="promo">
    Copyright © 2023, Olga Vlassi <br/>
    proudly developed by <a href="https://bendersteed.tech">bendersteed</a>
</div>


