+++
slug = "exhibitions"
title = "Exhibitions"
+++

<ul id="exhibitions">
    <li>Athens, February 2019. The collection as an Automaton. The American college of Greece curated
        by Elpida Karaba.</li>
    <li>Elefsina, November 2018. The 8th workshop  at the Synikismos neighborhood. Eleusis
        2021.</li>
    <li>Athens, May 2017. The garden with the sculptures. In traces of Hadrian emperor. 1900 years
        later. Italian Embassy.</li>
</ul>
