+++
slug = "crater"
title = "Sterna Fellowship 2023 - CRATER"
date = "2023-08-12"
+++
<div class="img-container">
    <a href="/img/crater-1.jpg">
        <img alt="stonewall clay, soil, sand from Nisyros, sieve" src="/img/crater-1.jpg"/>
    </a>
</div>

<div class="img-container">
    <a href="/img/crater-2.jpg">
        <img alt="stonewall clay, soil, sand from Nisyros, sieve" src="/img/crater-2.jpg"/>
    </a>
</div>

<div class="img-container">
    <a href="/img/crater-3.jpg">
        <img alt="stonewall clay, soil, sand from Nisyros, sieve" src="/img/crater-3.jpg"/>
    </a>
</div>

<div class="img-container">
    <a href="/img/crater-4.jpg">
        <img alt="stonewall clay, soil, sand from Nisyros, sieve" src="/img/crater-4.jpg" />
    </a>
    </div>
    
    <p class="work-label">
        CRATER / stoneware clay, soil, sand from Nisyros, sieve
        <br />
        <a href="https://sterna.com.gr/project/sterna-fellowship-2023-crater/">Sterna Fellowship Nisyros / 2023</a>
</p>



