+++
slug = "degree-show"
title = "Degree Show, ASFA 2021"
date = "2021-01-01"
+++
<div class="img-container">
    <a href="/img/degree-show-1.JPG">
        <img alt="ceramics in white background" src="/img/degree-show-1.JPG"/>
    </a>
</div>

<div class="img-container">
    <a href="/img/degree-show-2.JPG">
        <img alt="ceramics in white background" src="/img/degree-show-2.JPG"/>
    </a>
</div>

<div class="img-container">
    <a href="/img/degree-show-3.JPG">
        <img alt="ceramics in white background" src="/img/degree-show-3.JPG"/>
    </a>
</div>

<div class="img-container">
    <a href="/img/degree-show-4.JPG">
        <img alt="ceramics in white background" src="/img/degree-show-4.JPG"/>
    </a>
</div>

<p class="work-label">
    Installation / degree show / ceramics, images of petrographic analysis of ceramics and ready made wooden construction <br/>
    Athens School of Fine Arts, Nikos Kessanlis Hall / June 2021
</p>
<br/>
<p>
    Special thanks to researcher Eirini Koutouvaki for concession of images of petrographic analysis of ceramics and Olga
    Souvermezoglou for the photos of the installation.
</p>


