+++
slug = "desmos"
title = "DESMOS - A Dinner Study"
date = "2025-01-02"
+++

<div class="img-container">
    <a href="/img/desmos-1.jpg">
        <img src="/img/desmos-1.jpg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/desmos-2.jpg">
        <img src="/img/desmos-2.jpg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/desmos-3.jpg">
        <img src="/img/desmos-3.jpg" />
    </a>
    <p class="work-label"> Ceramic vases, stoneware clay with white glaze fired at 1250˚ C </p>
</div>

<div class="img-container">
    <a href="/img/desmos-4.jpg">
        <img src="/img/desmos-4.jpg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/desmos-5.jpg">
        <img src="/img/desmos-5.jpg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/desmos-6.jpg">
        <img src="/img/desmos-6.jpg" />
    </a>
    <p class="work-label">Desmos a dinner study. Curated by Christina Petkopoulou. Photos by Zoe Hatziyannaki
    </p>
</div>

<div class="img-container">
    <div class="img-horizontal">
        <a href="/img/desmos-7.jpg">
            <img src="/img/desmos-7.jpg" />
        </a>
        <a href="/img/desmos-8.jpg">
            <img src="/img/desmos-8.jpg" />
        </a>
    </div>
    <p class="work-label">
        Pasta dinner, glazed tiles, at EIGHT, Athens, 2024
    </p>
</div>

<p class="work-label"> Desmos . 2024 </p>
