+++
slug = "epinetron"
title = "Epinetron"
date = "2018-01-01"
template = "post"
+++

<div class="img-container">
    <a href="/img/epinetron-1.jpg">
        <img alt="ceramics in white background" src="/img/epinetron-1.jpg"/>
    </a>
</div>

<div class="img-container">
    <a href="/img/epinetron-2.jpg">
        <img alt="ceramics in white background" src="/img/epinetron-2.jpg"/>
    </a>
</div>

<p class="work-label">
    Epinetron / ceramics. 2018
</p>



