+++
slug = "kimon_friar"
title = "Kimon Friar - A Scrapbook"
date = "2019-01-01"
+++
<div class="img-container">
    <a href="/img/kimon-1.jpg">
        <img alt="kimon friar collection" src="/img/kimon-1.jpg"/>
    </a>
</div>

<div class="img-container">
    <a href="/img/kimon-2.jpg">
        <img alt="kimon friar collection" src="/img/kimon-2.jpg"/>
    </a>
</div>

<p class="work-label">
    The Collection as an Automaton <br/>
    Kimon Friar : A Scrapbook, 2019 <br/>
    Slide projection <br/>
    Dimensions variable <br/>
    <br/>
    Kostas Christopoulos (in collaboration with the students of the 8th studio of painting of ASFA, Thanos Kardoulas, Katerina Messini, Vlassi Olga and the contribution of Giannis Asvestas). <br/>
    Special thanks to  Demetra Papaconstantinou, ACG Archivist
</p>
