+++
slug = "city-before"
title = "The City Before"
date = "2017-01-01"
+++

<div class="img-container">
    <a href="/img/prin-1.jpg">
        <img alt="ceramics in white background" src="/img/prin-1.jpg"/>
    </a>
</div>

<div class="img-container">
    <a href="/img/prin-2.jpg">
        <img alt="ceramics in white background" src="/img/prin-2.jpg"/>
    </a>
</div>

<p class="work-label">
    The city before / concrete. Installation / Embassy of Italy in Athens. 2017
</p>   
