+++
slug = "skin"
title = "Skin"
date = "2016-01-01"
+++

<div class="img-container">
    <a href="/img/skin-1.jpg">
        <img alt="skin created by paper" src="/img/skin-1.jpg"/>
    </a>
</div>

<div class="img-container">
    <a href="/img/skin-2.jpg">
        <img alt="close view on skin created by paper" src="/img/skin-2.jpg"/>
    </a>
</div>

<p class="work-label"> Skin / ink on paper. 2016 </p>
