+++
slug = "skin-show"
title = "Skin. Solo show. Athens 2024"
date = "2024-10-16"
+++
<p>
    The series “Skin” confronts the notion of memory and change. Any events, any act, is recorded on the surface of the
    skin. It has the ability to regenerate and renew itself. The works, made of paper, redefine the concepts of
    fragility and temporality. They resemble shells, fish scales, bord feathers, offering multiple interpretations of
    another skin, an imaginary surface of a new space that spreads anxiously, disorderly, trying to fill the void.
    In the ceramics, the concept of the container and its content is explored. Each piece contains its own painted
    images. The forms appear to have knobs that seem to be attached later or deformed. The designs are created with
    insulating material before glazing, thus borrowing ancient techniques of Greek red-figure and black-figure pottery:
    a surface colored while the rest remains empty, the final form of the image emerging after the kiln. They capture
    fleeting memories and everyday moments, struggling to be preserved, roughly painted, with a slight concern about
    filling empty spaces.
</p>

<br />

<div class="img-container">
    <a href="/img/skin-1.jpeg">
        <img alt="Skin Future Mythologies on Traces of the Past" src="/img/skin-1.jpeg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/skin-2.jpeg">
        <img alt="Skin Future Mythologies on Traces of the Past" src="/img/skin-2.jpeg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/skin-3.jpeg">
        <img alt="Skin Future Mythologies on Traces of the Past" src="/img/skin-3.jpeg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/skin-4.jpeg">
        <img alt="Skin Future Mythologies on Traces of the Past" src="/img/skin-4.jpeg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/skin-5.jpeg">
        <img alt="Skin Future Mythologies on Traces of the Past" src="/img/skin-5.jpeg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/skin-6.jpeg">
        <img alt="Skin Future Mythologies on Traces of the Past" src="/img/skin-6.jpeg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/skin-7.jpeg">
        <img alt="Skin Future Mythologies on Traces of the Past" src="/img/skin-7.jpeg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/skin-8.jpeg">
        <img alt="Skin Future Mythologies on Traces of the Past" src="/img/skin-8.jpeg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/skin-9.jpeg">
        <img alt="Skin Future Mythologies on Traces of the Past" src="/img/skin-9.jpeg" />
    </a>
</div>



<p class="work-label">
    Skin. Solo show. Athens 2024
</p>
