+++
slug = "takimi"
title = "Takimi"
date = "2024-12-01"
+++

<div class="img-container">
    <a href="/img/takimi-1.jpg">
        <img src="/img/takimi-1.jpg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/takimi-2.jpg">
        <img src="/img/takimi-2.jpg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/takimi-3.jpg">
        <img src="/img/takimi-3.jpg" />
    </a>
</div>
<div class="img-container">
    <a href="/img/takimi-4.jpg">
        <img src="/img/takimi-4.jpg" />
    </a>
</div>
<div class="img-container">
    <a href="/img/takimi-5.jpg">
        <img src="/img/takimi-5.jpg" />
    </a>
    <p class="work-label"> Untitled, ceramic tile, stoneware clay with white glaze fired at 1250˚C, 21 × 19cm.
    </p>
</div>
<div class="img-container">
    <a href="/img/takimi-6.jpg">
        <img src="/img/takimi-6.jpg" />
    </a>
</div>
<div class="img-container">
    <a href="/img/takimi-7.jpg">
        <img src="/img/takimi-7.jpg" />
    </a>
</div>
<div class="img-container">
    <div class="img-horizontal">
        <a href="/img/takimi-8.jpg">
            <img src="/img/takimi-8.jpg" />
        </a>
        <a href="/img/takimi-9.jpg">
            <img src="/img/takimi-9.jpg" />
        </a>
    </div>
    <p class="work-label"> Untitled, ceramic tiles made of stoneware clay and white glaze, fired at 1250˚C, 19 × 19cm,
        18 × 18cm.
    </p>
</div>

<div class="img-container">
    <div class="img-horizontal">
        <a href="/img/takimi-10.jpg">
            <img src="/img/takimi-10.jpg" />
        </a>
        <a href="/img/takimi-11.jpg">
            <img src="/img/takimi-11.jpg" />
        </a>
    </div>
    <p class="work-label">
        Velerophon, stoneware clay with white glaze fired at 1250˚C, 30× 30 cm.
    </p>
</div>

<div class="img-container">
    <div class="img-horizontal">
        <a href="/img/takimi-12.jpg">
            <img src="/img/takimi-12.jpg" />
        </a>
        <a href="/img/takimi-13.jpg">
            <img src="/img/takimi-13.jpg" />
        </a>
    </div>
    <p class="work-label">
        Foutnain, stoneware clay with white glaze fired at 1250˚C, 30× 30 cm.
    </p>
</div>

<div class="img-container">
    <div class="img-horizontal">
        <a href="/img/takimi-14.jpg">
            <img src="/img/takimi-14.jpg" />
        </a>

        <a href="/img/takimi-15.jpg">
            <img src="/img/takimi-15.jpg" />
        </a>
    </div>

    <p class="work-label">
        stoneware clay with white glaze fired at 1250˚C, 30 ×30cm.
    </p>
</div>

<div class="img-container">
    <a href="/img/takimi-16.jpg">
        <img src="/img/takimi-16.jpg" />
    </a>
</div>

<div class="img-container">
    <div class="img-horizontal">
        <a href="/img/takimi-17.jpg">
            <img src="/img/takimi-17.jpg" />
        </a>
        <a href="/img/takimi-18.jpg">
            <img src="/img/takimi-18.jpg" />
        </a>
    </div>
    <p class="work-label">
        Ceramic tile and small animals, low firing clay, decorated with engobes, unglazed, 17×13cm., 5×7cm.
    </p>
</div>

<div class="img-container">
    <a href="/img/takimi-19.jpg">
        <img src="/img/takimi-19.jpg" />
    </a>
</div>
<div class="img-container">
    <a href="/img/takimi-20.jpg">
        <img src="/img/takimi-20.jpg" />
    </a>
</div>
<div class="img-container">
    <a href="/img/takimi-21.jpg">
        <img src="/img/takimi-21.jpg" />
    </a>
</div>
<div class="img-container">
    <a href="/img/takimi-22.jpg">
        <img src="/img/takimi-22.jpg" />
    </a>
</div>
<div class="img-container">
    <a href="/img/takimi-23.jpg">
        <img src="/img/takimi-23.jpg" />
    </a>
</div>

<p class="work-label"> Takimi . 2024 </p>
