+++
slug = "traces"
title = "Traces"
date = "2014-01-01"
+++

<div class="img-container">
    <a href="/img/traces-1.jpg">
        <img alt="traces on marble" src="/img/traces-1.jpg"/>
    </a>
</div>

<div class="img-container">
    <a href="/img/traces-2.jpg">
        <img alt="traces on marble" src="/img/traces-2.jpg"/>
    </a>
</div>

<p class="work-label"> Traces / marble. 2016 </p>
   
