+++
slug = "tumors"
title = "Tumors"
date = "2015-01-01"
+++

<div class="img-container">
    <a href="/img/tumors-1.jpg">
        <img alt="plaster on cement" src="/img/tumors-1.jpg"/>
    </a>
</div>

<div class="img-container">
    <a href="/img/tumors-2.jpg">
        <img alt="plaster on cement" src="/img/tumors-2.jpg"/>
    </a>
</div>

<p class="work-label"> Tumors / fabric, plaster. 2016 </p>
