+++
slug = "weaving-future"
title = "Weaving Future Mythologies on Traces of the Past"
date = "2024-10-16"
+++
<div class="img-container">
    <a href="/img/weaving-1.jpg">
        <img alt="Weaving Future Mythologies on Traces of the Past" src="/img/weaving-1.jpg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/weaving-2.jpg">
        <img alt="Weaving Future Mythologies on Traces of the Past" src="/img/weaving-2.jpg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/weaving-3.jpg">
        <img alt="Weaving Future Mythologies on Traces of the Past" src="/img/weaving-3.jpg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/weaving-4.jpg">
        <img alt="Weaving Future Mythologies on Traces of the Past" src="/img/weaving-4.jpg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/weaving-6.jpg">
        <img alt="Weaving Future Mythologies on Traces of the Past" src="/img/weaving-6.jpg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/weaving-7.jpg">
        <img alt="Weaving Future Mythologies on Traces of the Past" src="/img/weaving-7.jpg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/weaving-8.jpg">
        <img alt="Weaving Future Mythologies on Traces of the Past" src="/img/weaving-8.jpg" />
    </a>
</div>

<div class="img-container">
    <a href="/img/weaving-9.jpg">
        <img alt="Weaving Future Mythologies on Traces of the Past" src="/img/weaving-9.jpg" />
    </a>
</div>



<p class="work-label">
    Weaving Future Mythologies on Traces of the Past / Curator: Konstantina Soulioti / Photos of Georgios Apostolopoulos
</p>
