{{ define "main" }}
<div id="content">
{{ range .Pages.ByPublishDate.Reverse }}
<p>
    <a class="subtitle work-listing" href="{{ .RelPermalink }}">{{ .Title }}</a>
</p>
{{ end }}

<hr>

<a class="subtitle work-listing" href="\exhibitions">Exhibitions</a>
</div>

<hr/>
{{ end }}
